Cabinet.Demo/Demo_WebserviceTest/Service References/ServiceReference1/EqptRoom1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="deliveryCabinetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deliveryCabinetListObject" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deliveryCabinetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deliveryCabinetListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deliverySystemUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deliverySystemUpdateObject" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deliverySystemUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deliverySystemUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>