Cabinet/Bridge/WcfService/Web References/WebComm/CubService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" targetNamespace="http://tempuri.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="executeResultInfo" type="tns:executeResultInfo" />
  <xs:element name="executeResultInfoResponse" type="tns:executeResultInfoResponse" />
  <xs:element name="updateWorkInstrStatus" type="tns:updateWorkInstrStatus" />
  <xs:element name="updateWorkInstrStatusResponse" type="tns:updateWorkInstrStatusResponse" />
  <xs:complexType name="executeResultInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="executeResultInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateWorkInstrStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateWorkInstrStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>